/* .form-field{
	width: 40%;
	height: auto;
	min-height: 34px;
	border: 2px solid red;
	cursor: text;
	border-radius: 5px;
    padding: 10px 24px;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #4A4A4A;
} */


.chips-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px 24px;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #4A4A4A;
    color: white;
    width: 40%;
    height: auto;
    min-height: 34px;
}


.chip-input	{
    border-radius: 5px;
    padding: 10px 24px;
    border: 0px;
    margin-top: 10px;
	justify-content: flex-end;
    margin-bottom: 20px;
    background-color: #4A4A4A;
    color: white;
    width: 40%;
    height: auto;
	outline: none;
}


.chips .chip {
	/* display: inline-block; */
	justify-content: flex-start;
	width: auto;
	height: auto;
	background-color: #A4A4A4;
	color: #fff;
	border-radius: 3px;
	margin: 2px;
	overflow: hidden;
}

.chips .chip{
  float: left;
}

.chips .chip .chip--button {
  padding: 8px;
  cursor: pointer;
  background-color: #A4A4A4;
  display: inline-block;
  color: red;
}

.chips .chip .chip--text {
  padding: 8px;
  cursor: no;
  display: inline-block;
  pointer-events: none
}

/* .form-field > input{
  padding: 15px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  border: none;
  margin: 5px 0 0;
  display: inline-block;
  background-color: transparent;
} */