.chips-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px 24px;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #4A4A4A;
    color: white;
    width: 40%;
    height: auto;
    min-height: 34px;
}

.chip-input	{
    border-radius: 5px;
    padding: 10px 24px;
    border: 0px;
    margin-top: 10px;
	justify-content: flex-end;
    margin-bottom: 20px;
    background-color: #4A4A4A;
    color: white;
    width: 40%;
    height: auto;
	outline: none;
}

.chips .chip {
	justify-content: flex-start;
	width: auto;
	height: auto;
	background-color: #A4A4A4;
	color: #fff;
	border-radius: 3px;
	margin: 2px;
	overflow: hidden;
}

.chips .chip{
  	float: left;
}

.chips .chip .chip--button {
	padding: 8px;
	cursor: pointer;
	background-color: #A4A4A4;
	display: inline-block;
	color: red;
}

.chips .chip .chip--text {
	padding: 8px;
	cursor: no;
	display: inline-block;
	pointer-events: none
}