<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/css/create.css" >
    <link rel="stylesheet" href="/css/chips.css" >
</head>

<body>
    <div class="header">
        <label>Kanban Board</label>
        <label onclick="location.href='../index.html'">Home</label>
    </div>

    <div class="container" id="form">
        <label id="create-text"><b>Create Task</b></label>
        <label>Title</label>
        <input id="title" type="text" placeholder="Hello Task">
        <label>Description</label>
        <textarea id="desc" type="text">me here</textarea>
        <label>Tags</label>

        <div class="chips-field">
            <div class="chips" id="chips"></div>
            <input placeholder="Enter Your Tags here" class="chip-input" />
        </div>

        <div>
            <button id="create" onclick="createTask()">Create</button>
            <button id="create-and-view" onclick="createAndViewTask()">Create & View</button>
        </div>
    </div>
</body>

<script src="/js/chips.js"></script>
<script src="/js/create.js"></script>
</html>